<div id="header">
    <h1>Seismic Activity</h1>
</div>

<div id="placeholder">
<table>
  <tr> <th> <h3>***Placeholder Table***</h3></th></tr>
</table>
</div>


<div id="earthquakes">
    <table>
        <thead>
            <tr>
                <th><h4>Longitude</h4></th>
                <th><h4>Latitude</h4></th>
                <th><h4>Depth (km)</h4></th>
                <th><h4> Magnitude</h4></th>
                <th><h4> Location</h4></th>
                <th><h4>Updated</h4></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><h5>180.0</h5></td>
            <td><h5>90.0</h5></td>
            <td><h5>50</h5></td>
            <td><h5>6</h5></td>
            <td><h5>Aberdeen</h5></td>
            <td><h5>05/10/2017 08:00-GMT</h5>
        </tr>
        <tr>
            <td><h5>180.0</h5></td>
            <td><h5>90.0</h5></td>
            <td><h5>50</h5></td>
            <td><h5>6</h5></td>
            <td><h5>Aberdeen</h5></td>
            <td><h5>05/10/2017 08:00-GMT</h5>
        </tr>
        <tr>
            <td><h5>180.0</h5></td>
            <td><h5>90.0</h5></td>
            <td><h5>50</h5></td>
            <td><h5>6</h5></td>
            <td><h5>Aberdeen</h5></td>
            <td><h5>05/10/2017 08:00-GMT</h5>
        </tr>
        </tbody>
    </table>
</div>

<div id="map"></div>