
<div id="header">
<div align="center">
    <h1>Hello <%= @sessName  %></h1>
    <h2>Welcome to the Admin page.</h2>
    
	<table>
	<thead>
	<tr>
	<th>Username</th>
	<th>Email</th>
	<th>Admin?</th>
	</tr>
	</thead>
	<td>Iain</td>
	<td>iain.srbg@rrgtgt.sdafg</td>
	<td>No</td>
	</table>
</div>
</div>
