<html>
<head>
</head>
<body>
	<div align="center">
		<h1>Your Account Information</h1>
	</div>
	

<p>Hello <%= @sessName %>

<table>

	<tr> <h4> Your favourite earthquakes! </h4> </tr>

</table>


<br>
<a href="/">Log out</a>