<!-- By Iain Macdonald -->
<div id="userpage">
    <div id="header">
        <h1>Hello <%= @user.username %></h1>
    </div>

    <div id="user-controls">
        <% if @user %>
            <span><%= @user.username %></span>
            <a href="/user_page">Your profile</a>
            <% if @user.isadmin? %>
                / <a href="/admin">Admin</a>
            <% end %>
            /
            <a href="/log_out">Log out</a>

        <% else %>
            <a href="/sign_up">Sign up</a>
            /
            <a href="/log_in">Log in</a>
        <% end %>
    </div>

    <div class="user-area-text"> Here's your user area. You can do whatever you want with it!</div>

    <br>
    <a href="/"><button type='button'>Home</button></a>
    <a href="log_out"><button type='button'>Log out</button></a>
</div>