
<div id="header">
    <h1>Hello <%= @sessName %></h1>
</div>

<div id="user-controls">
    <% if @user %>
        <span>Welcome back, <%= @user.username %></span>
        <a href="user_page">Your profile</a>
        <% if @user.isadmin? %>
            / <a href="admin">Admin</a>
        <% end %>
        /
        <a href="log_out">Log out</a>

    <% else %>
        <a href="sign_up">Sign up</a>
        /
        <a href="log_in">Log in</a>
    <% end %>
</div>

<div id="user-table" class="earthquake-table">
    <table>
        <caption><h3> Your Favourite Earthquakes! (or Earthquakes near you)</h3></caption>
        <thead>
            <tr>
                <th><h4>Longitude</h4></th>
                <th><h4>Latitude</h4></th>
                <th><h4>Depth (km)</h4></th>
                <th><h4> Magnitude</h4></th>
                <th><h4> Location</h4></th>
                <th><h4>Updated</h4></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><h5>180.0</h5></td>
            <td><h5>90.0</h5></td>
            <td><h5>50</h5></td>
            <td><h5>6</h5></td>
            <td><h5>Aberdeen</h5></td>
            <td><h5>05/10/2017 08:00-GMT</h5>
        </tr>
        <tr>
            <td><h5>180.0</h5></td>
            <td><h5>90.0</h5></td>
            <td><h5>50</h5></td>
            <td><h5>6</h5></td>
            <td><h5>Aberdeen</h5></td>
            <td><h5>05/10/2017 08:00-GMT</h5>
        </tr>
        <tr>
            <td><h5>180.0</h5></td>
            <td><h5>90.0</h5></td>
            <td><h5>50</h5></td>
            <td><h5>6</h5></td>
            <td><h5>Aberdeen</h5></td>
            <td><h5>05/10/2017 08:00-GMT</h5>
        </tr>
        </tbody>
    </table>
</div>

<br>
<a href="log_out"><button type='button'>Log out</button></a>
<a href="/"><button type='button'>Home</button></a>